<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
  </head>
  <body>
    <h1>Users</h1>

    {{#each users}}
      <div>
        {{this.email}}
        <a href="/users/{{this.email}}">About this user</a>
      </div>
    {{/each}}
    <hr />
    <button><a href="/registration">Registration</a></button>
    <button><a href="/login">Login Page</a></button>
    <button><a href="/users">All users</a></button>
  </body>
</html>